<div class="inner-bg">
    <div class="container">

            <div class="row" style="margin-top: -50px">
              <div class="col-sm-6 col-sm-offset-3">

                <div class="form-box">
                    <div class="form-top">
                      <div class="form-top-left">
                        <h3>What would you like to update?</h3>
                        <% if flash.has?(:message) %>
                          <p style="color:#f0ad4e;"><%= flash[:message] %> </p>
                        <% end %>
                      </div>
                      <div class="form-top-right">
                        <i class="fa fa-pencil"></i>
                      </div>
                    </div>

                  <div class="form-bottom">
                    <form role="form" action="/logs/<%= @log.id%>" method="post" class="signup-form">
                      <input id="hidden" type="hidden" name="_method" value="PATCH">

                      <div class="form-group">
                        <label class="sr-only" for="form-description">GOOD stuff</label>
                        <input type="text" name="good" placeholder="Description..." class="form-description form-control" id="form-description" value="<%= @log.good%>">
                      </div>

                      <div class="form-group">
                        <label class="sr-only" for="form-amount">ACCOMPLISHED today</label>
                        <input type="text" name="accomplishment" placeholder="Amount..." class="form-amount form-control" id="form-amount" value="<%= @log.accomplishment%>">
                      </div>

                      <div class="form-group">
                        <label class="sr-only" for="date">FIRST TASK tomorrow</label>
                        <input class="form-date" type="text" name="date" placeholder="FIRST TASK to complete tomorrow .." value="<%= @log.date%>">
                      </div>

                      <div class="form-group">
                        <label  style="color: white; -webkit-font-smoothing: antialiased !important;" for="day">Day</label>
                        <select name="day_name">
                              <% current_user.days_sort_by_name.each do |day| %>
                                <option  name="day_name" <%='selected' if @day.name == day.name %>><%= day.name %></option>
                              <%end%>
                        </select>
                      </div>


                        <button type="submit" class="btn">Update</button>
                    </form>
                    <br>

                    <form action="/logs/<%= @log.id %>/delete" method="post">
                        <input type="hidden" id="hidden" name="_method" value="DELETE">
                      <button type="submit" class="btn btn-danger">Delete Log</button>
                    </form>

                  </div>
              </div>
            </div>


    </div>
</div>
