<h1 style="color: white; margin: 30px 10px;">YOUR <strong>// LOGS //</strong></h1>

<div class="container" >
  <div class="row">
    <div class="jumbotron" style="background: white; border-radius:20px;">
      <% if flash.has?(:message) %>
      <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p><%= flash[:message] %> </p>
      </div>
      <% end %>
        <% current_user.logs_sort_by_date.each do |log| %>
            <hr>
            <a href="logs/<%= log.id %>"><h2><strong><%= log.day.name %></strong></h2></a>
            <hr>
            <h4><strong><a href="logs/<%= log.id %>/edit"> // Edit <span class="glyphicon glyphicon-pencil"></span></a></strong></h4>
            <h3><strong>GOOD</strong> that happened</h3>
            <%= log.description %>
            <h3><strong>ACCOMPLISHED</strong> today</h3>
            <%= log.amount %>
            <h3><strong>FIRST TASK</strong> in the morning</h3>
            <%= log.date %>
            <p> </p>
            <p>__________________________________________________</p>
          </tr>
        <% end %>
      </table>
    </div><!-- end well -->
  </div><!-- end row -->
</div><!-- end container -->