  <div class="container receipt" style="width:400px;">
    <div class="row">
      <div class="jumbotron" style="background: white; border-radius:20px;">
        <h2><strong>// LOG //</strong></h2>
        <p>_______________________________</p>
        <h3><strong><%= @log.day.name %></strong></h3>
        <hr>
        <h3>GOOD that happened</h3><br>
        <p ><%= @log.good %></p>
        <hr>
        <h3>ACCOMPLISHED today</h3><br>
        <p ><strong></strong><%= @log.accomplishment %></p>
        <hr>
        <h3>FIRST TASK for tomorrow</h3><br>
        <p ><%= @log.date %></p>
        <hr>
        <a href="/logs/<%= @log.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit Log </a>
        <hr>
        <a href="/logs"><span class="glyphicon glyphicon-th-list"></span> View Logs</a>
      </div> <!-- end jumbotron -->
    </div> <!-- end row -->
  </div> <!-- end container -->

  <div class="row">
    <form action="/logs/<%= @log.id %>/delete" method="post">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
      <button type="submit" class="btn btn-danger">Delete Log</button>
    </form>
  </div> <!-- end row -->
