  <div class="container receipt" style="width:400px;">
    <div class="row">
      <div class="jumbotron" style="background: white; border-radius:20px;">
        <h2>Today's <strong>// LOG //</strong></h2>
        <h3>GOOD(today)</h3>
        <p ><%= @log.description %></p>
        <h3>ACCOMPLISHED(today)</h3>
        <p ><strong></strong><%= @log.amount %></p>
        <h3>FIRST TASK(tomorrow)</h3>
        <p ><%= @log.date %></p>
        <h3>Day</h3>
        <p ><%= @log.day.name %></p>
        <a href="/logs/<%= @log.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit Log </a>
        <hr>
        <a href="/logs"><span class="glyphicon glyphicon-th-list"></span> View Logs</a>
      </div> <!-- end jumbotron -->
    </div> <!-- end row -->
  </div> <!-- end container -->

  <div class="row">
    <form action="/logs/<%= @log.id %>/delete" method="post">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
      <button type="submit" class="btn btn-danger">Delete Log</button>
    </form>
  </div> <!-- end row -->
